In [1]:
import pandas as pd
import numpy as np
import datetime
import sqlite3
#dat = sqlite3.connect('ds22_guvi_task5_elan.db')

In [2]:
df1 = pd.read_csv("takehome_users.csv" ,encoding='ISO-8859-1')
df1.rename(columns = {'object_id':'user_id'}, inplace = True)

df1.to_sql(name='T1', con=dat)

df2 = pd.read_csv("takehome_user_engagement.csv" ,encoding='ascii')

df2.to_sql(name='T2', con=dat)

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   user_id                     12000 non-null  int64
 1   creation_time               12000 non-null  object
 2   name                        12000 non-null  object
 3   email                       12000 non-null  object
 4   creation_source             12000 non-null  object
 5   last_session_creation_time  8823 non-null   float64
 6   opted_in_to_mailing_list    12000 non-null  int64
 7   enabled_for_marketing_drip  12000 non-null  int64
 8   org_id                      12000 non-null  int64
 9   invited_by_user_id          6417 non-null   float64
dtypes: float64(2), int64(4), object(4)
memory usage: 937.6+ KB

12000

In [5]:
#pre =pd.merge(df1,df2,on='inner')
check_val = pd.merge(df1, df2, on='user_id')

In [6]:
check_val.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207917 entries, 0 to 207916
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   user_id                     207917 non-null  int64
 1   creation_time               207917 non-null  object
 2   name                        207917 non-null  object
 3   email                       207917 non-null  object
 4   creation_source             207917 non-null  object
 5   last_session_creation_time  207917 non-null  float64
 6   opted_in_to_mailing_list    207917 non-null  int64
 7   enabled_for_marketing_drip  207917 non-null  int64
 8   org_id                      207917 non-null  int64
 9   invited_by_user_id          116887 non-null  float64
 10  time_stamp                  207917 non-null  object
 11  visited                     207917 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 20.6+ MB

In [24]:
check_val.to_sql(name='T3', con=dat)

207917

In [27]:
"""
a = []
c = dat.cursor()
c.execute("select count(1) from T1 ") 
for i in c.fetchall():
   a.append(str(i))
c = dat.cursor()
c.execute("CREATE TABLE T4(time_stamp date,user_id integer,visited integer) ")
#c = dat.cursor()
c.execute("insert into T4 select cast(time_stamp as date) time_stamp, user_id , visited from T2")
#c.execute("DROP TABLE T4") 

query = dat.execute("SELECT * From T4")
cols = [column[0] for column in query.description]
results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)
results
"""

#query = dat.execute(ex1)
#cols = [column[0] for column in query.description]
#results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

'''
t = '2018-09-19'
t = np.datetime64(t)
day = t.astype(datetime.datetime).is
print (day)
'''

In [19]:
# check_val['dt'] = np.datetime64(check_val ['time_stamp'])
check_val['date'] = check_val['time_stamp'].astype('datetime64')
# check_val['wk'] = check_val['date'].dt.week
check_val['wk'] = check_val['date'].dt.isocalendar().week
check_val['yr'] = check_val['date'].dt.isocalendar().year
check_val['mn'] = check_val['date'].dt.month

In [22]:
#check_val.info()
#check_val.count()
#check_val.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207917 entries, 0 to 207916
Data columns (total 13 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   user_id                     207917 non-null  int64
 1   creation_time               207917 non-null  object
 2   name                        207917 non-null  object
 3   email                       207917 non-null  object
 4   creation_source             207917 non-null  object
 5   last_session_creation_time  207917 non-null  float64
 6   opted_in_to_mailing_list    207917 non-null  int64
 7   enabled_for_marketing_drip  207917 non-null  int64
 8   org_id                      207917 non-null  int64
 9   invited_by_user_id          116887 non-null  float64
 10  time_stamp                  207917 non-null  object
 11  visited                     207917 non-null  int64
 12  date                        207917 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(5), object(5)
memory usage: 22.2+ MB

In [44]:
#c=check_val.groupby(by=['user_id','yr' , 'wk' , 'visited'], as_index=False).count()
# a = check_val.groupby('user_id','yr' , 'wk','visited' )['visited'].count()

In [67]:
count_series = check_val.groupby(['user_id','org_id','yr' ,'mn', 'wk' , 'visited']).size()

In [68]:
new_df = count_series.to_frame(name = 'size').reset_index()

In [74]:
new_df_1 = new_df[new_df['size'] >= 3]

In [76]:
#new_df_2 = new_df_1.sort_values(by=['user_id', 'org_id' , 'size' ], inplace=True)

In [77]:
new_df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32754 entries, 6 to 75916
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  32754 non-null  int64
 1   org_id   32754 non-null  int64
 2   yr       32754 non-null  UInt32
 3   mn       32754 non-null  int64
 4   wk       32754 non-null  UInt32
 5   visited  32754 non-null  int64
 6   size     32754 non-null  int64
dtypes: UInt32(2), int64(5)
memory usage: 1.8 MB